@using GoodsLogistics.Localization.Resources
@model GoodsLogistics.ViewModels.DTO.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<section>
    <div class="container">
        <div class="row account_holder">
            <div class="col-lg-4 account_menu_holder">
                @Html.Partial("_AccountMenuPartial")
            </div>
            <div class="col-lg-8 account_holder_content">

                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.Label(Resources.CurrentPassword)
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "input", placeholder = Resources.EnterCurrentPassword })
                        @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label(Resources.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "input", placeholder = Resources.EnterNewPassword })
                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.Label(Resources.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input", placeholder = Resources.EnterConfirmPassword })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })

                    </div>

                    <div class="login_button_holder mb15">
                        <input type="submit" class="button" value=@Resources.Submit>
                    </div>
                }

                <div class="success_status">@ViewBag.Status</div>
            </div>
        </div>
    </div>
</section>