@using GoodsLogistics.Localization.Resources
<div class="account_menu">

    <div class="account_menu_item">@Html.ActionLink(Resources.PersonalData, "Index", "Account")</div>
    <div class="account_menu_item">@Html.ActionLink(Resources.ChangePassword, "ChangePassword", "Account")</div>
    <div class="account_menu_item">@Html.ActionLink(Resources.Offices, "GetAll", "Office")</div>
    <div class="account_menu_item">
        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Exit</a>
        }
    </div>
</div>



<script src="~/js/jquery.js"></script>

<script>

    $(function () {

        var pathname_url = window.location.pathname;
        $(".account_menu .account_menu_item").each(function () {

            var link = $(this).find("a").attr("href");
            var adminLink = null;

            if (link == "/Manage/AdminPanel") {
                adminLink = $(this);
            }

            if (pathname_url == link) {

                $(this).addClass('account_menu_item_selected');
            }

            if ((pathname_url.includes("Product") || pathname_url.includes("Genre")) && adminLink != null) {
                adminLink.addClass('account_menu_item_selected');
            }

        });

    });

</script>