@using GoodsLogistics.Localization.Resources
@model GoodsLogistics.ViewModels.DTO.ObjectiveViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Information</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group row">
        @Html.HiddenFor(m => m.ObjectiveId)
        <div class="col-lg-4">
            <label>@Resources.Country: @Model.Location.City.Region.Country.Name</label>
        </div>
        <div class="col-lg-4">
            <label>@Resources.Region: @Model.Location.City.Region.Name</label>
        </div>
        <div class="col-lg-4">
            <label>@Resources.City: @Model.Location.City.Name</label>
        </div>
    </div>

    <div class="form-group">
        <label>@Resources.Address: @Model.Location.Address</label>
    </div>

    <div class="form-group row">
        <div class="col-lg-5">
            <label>@Resources.DeliveryDate: @Model.OrderDate</label>
        </div>
        <div class="col-lg-3">
            <label>@Resources.Frequency: @Model.Frequency</label>
        </div>
        <div class="col-lg-4">
            <label>@Resources.EndDate: @Model.EndDate.ToShortDateString()</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-5">
            <label>@Resources.CreationDate: @Model.CreationDate.ToShortDateString()</label>
        </div>
        <div class="col-lg-3">
            <label>@Resources.GoodName: @Model.Good.Name</label>
        </div>
        <div class="col-lg-4">
            <label>@Resources.GoodWeight: @Model.Good.Weight</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>