@using GoodsLogistics.Localization.Resources
@model List<GoodsLogistics.ViewModels.DTO.RequestViewModel>

@{
    ViewData["Title"] = "RequestsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container">
        <div class="row account_holder">
            <div class="col-lg-4 account_menu_holder">
                @Html.Partial("_AccountMenuPartial")
            </div>
            <div class="col-lg-8" id="requests-holder">
                @foreach (var request in Model)
                {
                    <div class="notRespondRequest_holder">
                        <div class="notRespondRequest_item">

                            <form data-requestForm="requestForm" action="@Url.Action("", "")" method="post">

                                <input type="hidden" name="ObjectiveId" value="@request.ObjectiveId" data-objectiveId="objectiveId" />

                                <div class="d-flex justify-content-end reserved_item_date mb10">@request.Objective.CreationDate.ToShortDateString()</div>

                                <div class="row notRespondRequest_item_description_holder">
                                    <div class="col-lg-6">@Resources.DeliveryDate: @request.Objective.OrderDate.ToShortDateString()</div>
                                    <div class="col-lg-6 tar">@Resources.Frequency: @request.Objective.Frequency</div>
                                </div>
                                <div class="row notRespondRequest_item_description_holder">
                                    <div class="col-lg-6">@Resources.DeliveryTime: @request.Objective.OrderDate.ToShortTimeString()</div>
                                    <div class="col-lg-6 tar">@Resources.EndDate: @request.Objective.EndDate.ToShortDateString()</div>
                                </div>
                                <div class="row notRespondRequest_item_description_holder">
                                    <div class="col-lg-6">@Resources.Customer: @request.Objective.ReceiverCompany.Name</div>
                                    <div class="col-lg-6 tar">@Resources.Price: @request.Objective.Price</div>
                                </div>
                                <div class="notRespondRequest_item_description_line"></div>
                                <div class="row respond_button_holder d-flex justify-content-end" data-requestButtonHolder="requestButtonHolder">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-8">

                                            </div>
                                            <div class="col-lg-4">
                                                <button type="button" class="button" data-objectiveDetails="objectiveDetails">
                                                    <i class="fas fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<!-- Details Modal -->
<div class="modal fade" id="objective-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content objective-modal" id="objective-details-modal-content">
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/momentMin.js"></script>
    <script src="~/js/datePicker.js"></script>
    <script src="~/js/priceRange.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    @*Get modals*@
    <script>
        let requestsHolder = document.getElementById('requests-holder');
        requestsHolder.addEventListener('click', async function (event) {
            if (event.target.hasAttribute("data-objectiveDetails") || event.target.closest("[data-objectiveDetails]")) {
                let button = event.target;
                let form = button.closest('[data-requestForm]');
                let id = form.querySelector('[data-objectiveId]').value;
                let url = '/Objective/GetObjectiveForProvidersById?objectiveId=' + id;

                await fetch(url,
                    {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(async function (response) {
                        let content = await response.text();
                        let modalContent = document.getElementById('objective-details-modal-content');
                        modalContent.innerHTML = content;
                        $('#objective-details-modal').modal('show');
                    });
            }
        });
    </script>
}
